[Unit]
Description=The Software for quality voice communication via the Internet.
Documentation=man:podman-generate-systemd(1)
Requires=mariadb.service
Wants=network-online.target
After=network-online.target mariadb.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile=%t/%n.ctr-id \
    --detach \
    --env-file %h/pods/.env/teamspeak.env \
    --name teamspeak \
    --net host \
    --publish 10011:10011 \
    --publish 30033:30033 \
    --publish 9987:9987/udp \
    --replace \
    --rm \
    --sdnotify=conmon \
    docker.io/library/teamspeak:3.13.7
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
