[Unit]
Description=A reverse proxy that provides authentication with Google, Azure, OpenID Connect and many more identity providers.
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-oauth2-proxy.pid %t/container-oauth2-proxy.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile %t/container-oauth2-proxy.ctr-id \
    --conmon-pidfile %t/container-oauth2-proxy.pid \
    --env-file .env \
    --name=oauth2-proxy \
    --replace \
    --rm \
    -p 54180:54180 \
    quay.io/oauth2-proxy/oauth2-proxy:v7.2.0
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-oauth2-proxy.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-oauth2-proxy.ctr-id
PIDFile=%t/container-oauth2-proxy.pid
Type=simple
WorkingDirectory=%h/pods/oauth2-proxy

[Install]
WantedBy=multi-user.target default.target
