[Unit]
Description=Unofficial Bitwarden compatible server written in Rust.
Requires=postgres.service
Wants=network.target
After=network-online.target postgres.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-bitwarden.pid %t/container-bitwarden.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile %t/container-bitwarden.ctr-id \
    --conmon-pidfile %t/container-bitwarden.pid \
    --env-file .env \
    --name=bitwarden \
    --replace \
    --rm \
    -p 52080:80 \
    -p 53012:3012 \
    -v bitwarden-data:/data \
    bitwardenrs/server:1.19.0-alpine
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-bitwarden.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-bitwarden.ctr-id
PIDFile=%t/container-bitwarden.pid
Type=simple
WorkingDirectory=%h/pods/bitwarden

[Install]
WantedBy=multi-user.target default.target
