[Unit]
Description=Miniflux is a minimalist and opinionated feed reader.
Documentation=man:podman-generate-systemd(1)
Requires=postgres.service
Wants=network-online.target
After=network-online.target postgres.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile=%t/%n.ctr-id \
    --detach \
    --env-file %h/pods/.env/miniflux.env \
    --name=miniflux \
    --publish 58080:8080 \
    --replace \
    --rm \
    --sdnotify=conmon \
    docker.io/miniflux/miniflux:2.0.39-distroless
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
