[Unit]
Description=Miniflux is a minimalist and opinionated feed reader.
Requires=postgres.service
Wants=network.target
After=network-online.target postgres.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-miniflux.pid %t/container-miniflux.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile %t/container-miniflux.ctr-id \
    --conmon-pidfile %t/container-miniflux.pid \
    --env-file .env \
    --name=miniflux \
    --replace \
    --rm \
    -p 58080:8080 \
    miniflux/miniflux:2.0.28
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-miniflux.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-miniflux.ctr-id
PIDFile=%t/container-miniflux.pid
Type=simple
WorkingDirectory=%h/pods/miniflux

[Install]
WantedBy=multi-user.target default.target
