[Unit]
Description=this is a prometheus minecraft exporter 
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-minecraft_exporter.pid %t/container-minecraft_exporter.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile %t/container-minecraft_exporter.ctr-id \
    --conmon-pidfile %t/container-minecraft_exporter.pid \
    --env-file %h/pods/.env/minecraft_exporter.env \
    --name=minecraft_exporter \
    --replace \
    --rm \
    -p 9800:8000 \
    -v /opt/all_the_mods_3/world:/world:ro \
    docker.io/joshi425/minecraft_exporter:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-minecraft_exporter.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-minecraft_exporter.ctr-id
PIDFile=%t/container-minecraft_exporter.pid
Type=simple
WorkingDirectory=%h/pods/prometheus

[Install]
WantedBy=multi-user.target default.target
