[Unit]
Description=NGINX Prometheus Exporter for NGINX and NGINX Plus.
Requires=nginx.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target nginx.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile=%t/%n.ctr-id \
    --detach \
    --name nginx_prometheus_exporter \
    --publish 9113:9113 \
    --replace \
    --rm \
    --sdnotify=conmon \
    docker.io/nginx/nginx-prometheus-exporter:0.11 \
    -nginx.scrape-uri http://nginx_stats.ggrel.net:80/stub_status
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
