[Unit]
Description=Exporter for machine metrics.
Requires=prometheus.service
Wants=network.target
After=network-online.target prometheus.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-node_exporter.pid %t/container-node_exporter.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile %t/container-node_exporter.ctr-id \
    --conmon-pidfile %t/container-node_exporter.pid \
    --name=node_exporter \
    --net="host" \
    --pid="host" \
    --replace \
    --rm \
    -p 9100:9100 \
    -v "/:/host:ro,rslave" \
    prom/node-exporter:v1.1.1 \
    --collector.processes \
    --collector.systemd \
    --path.rootfs=/host
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-node_exporter.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-node_exporter.ctr-id
PIDFile=%t/container-node_exporter.pid
Type=simple
WorkingDirectory=%h/pods/prometheus

[Install]
WantedBy=multi-user.target default.target
