[Unit]
Description=Analyzes resource usage and performance characteristics of running containers.
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile=%t/%n.ctr-id \
    --detach \
    --env CONTAINER_HOST=unix:///run/podman/podman.sock \
    --name podman-exporter \
    --publish 9882:9882 \
    --replace \
    --rm \
    --sdnotify=conmon \
    --security-opt label=disable \
    --userns=keep-id:uid=65534 \
    --volume /var/run/user/1000/podman/podman.sock:/run/podman/podman.sock \
    quay.io/navidys/prometheus-podman-exporter:v1.11.0 \
    --collector.enable-all
ExecStop=/usr/bin/podman stop \
    --ignore -t 10 \
    --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
    -f \
    --ignore -t 10 \
    --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
