# mastodon-sidekiq.service

[Unit]
Description=Podman mastodon-sidekiq.service
Documentation=man:podman-generate-systemd(1)
Requires=redis.service postgres.service
Wants=network-online.target
After=network-online.target redis.service postgres.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile=%t/%n.ctr-id \
    --detach \
    --env-file %h/pods/.env/mastodon.env \
    --name mastodon-sidekiq \
    --replace \
    --rm \
    --sdnotify=conmon \
    --volume mastodon-data:/mastodon/public/system \
    ghcr.io/mastodon/mastodon:v4.2.3 \
    bundle exec sidekiq
ExecStop=/usr/bin/podman stop \
    --ignore -t 10 \
    --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
    -f \
    --ignore -t 10 \
    --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
