[Unit]
Description=📺 API server to enhance the web-based DTV watching experiences
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-saya.pid %t/container-saya.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile %t/container-saya.ctr-id \
    --conmon-pidfile %t/container-saya.pid \
    --env-file .env \
    --name=saya \
    --replace \
    --rm \
    -p 51017:51017 \
    docker.io/slashnephy/saya:dev
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-saya.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-saya.ctr-id
PIDFile=%t/container-saya.pid
Type=simple
WorkingDirectory=%h/pods/saya

[Install]
WantedBy=multi-user.target default.target
