[Unit]
Description=Takes battle data from the SplatNet 2 app and uploads it to stat.ink. 
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-splatnet2statink.pid %t/container-splatnet2statink.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile %t/container-splatnet2statink.ctr-id \
    --conmon-pidfile %t/container-splatnet2statink.pid \
    --env-file .env \
    --name=splatnet2statink \
    --replace \
    --rm \
    isseim/splatnet2statink:v1.5.8 \
    -r
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-splatnet2statink.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-splatnet2statink.ctr-id
PIDFile=%t/container-splatnet2statink.pid
Type=simple
WorkingDirectory=%h/pods/splatnet2statink

[Install]
WantedBy=multi-user.target default.target
