[Unit]
Description=MariaDB is a community-developed fork of MySQL intended to remain free under the GNU GPL.
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile=%t/%n.ctr-id \
    --detach \
    --env-file %h/pods/.env/mariadb.env \
    --name mariadb \
    --publish 3306:3306 \
    --replace \
    --rm \
    --sdnotify=conmon \
    --volume mariadb-data:/var/lib/mysql \
    docker.io/library/mariadb:10.9-jammy
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
