[Unit]
Description=Minecraft is a sandbox video game developed by Mojang.
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-minecraft.pid %t/container-minecraft.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile %t/container-minecraft.ctr-id \
    --conmon-pidfile %t/container-minecraft.pid \
    --env-file .env \
    --name=minecraft \
    --replace \
    --rm \
    -p 25565:25565 \
    -v minecraft-data:/data \
    itzg/minecraft-server:adopt11
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-minecraft.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-minecraft.ctr-id
PIDFile=%t/container-minecraft.pid
Type=simple
WorkingDirectory=%h/pods/minecraft

[Install]
WantedBy=multi-user.target default.target
