[Unit]
Description=The PostgreSQL object-relational database system provides reliability and data integrity.
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile=%t/%n.ctr-id \
    --detach \
    --env-file %h/pods/.env/postgres.env \
    --ipc host\
    --name postgres \
    --publish 5432:5432 \
    --replace \
    --rm \
    --sdnotify=conmon \
    --volume postgres-data:/var/lib/postgresql/data \
    --volume %h/pods/postgres/postgresql.conf:/etc/postgresql/postgresql.conf:ro \
    docker.io/library/postgres:15.1 \
    -c config_file=/etc/postgresql/postgresql.conf
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
